[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
tox = "*"
pytest = "*"
"aiohttp-jinja2" = "*"
click = "*"
aioredis = "*"
pyyaml = "*"
attrs = "*"
coloredlogs = "*"
selenium = "*"
"beautifulsoup4" = "*"
"html5lib" = "*"
sqlalchemy = "*"
aiopg = "*"
trafaret = "*"
aiohttp-session = "*"
ansible = "*"
cryptography = "*"
dateparser = "*"
"psycopg2-binary" = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
jupyter = "*"
scipy = "*"
pandas-datareader = "*"
statsmodels = "*"
requests = "*"
scikit-learn = "*"
terminaltables = "*"
tqdm = "*"
neat-python = "==0.92"
graphviz = "==0.10.1"
humanfriendly = "*"

[dev-packages]
