[program:monicha]
environment=
    HOME="/home/{{ ansible_ssh_user }}",
    USER="{{ ansible_ssh_user }}"
command=pipenv run python cli.py monicha
directory={{ project_root }}
user={{ ansible_ssh_user }}
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/monicha.supervisor.stdout
stopsignal=QUIT
