[program:che]
environment=
    HOME="/home/{{ ansible_ssh_user }}",
    USER="{{ ansible_ssh_user }}",
    PORT="{{ che_run_port }}"
command=pipenv run python runserver.py
directory={{ project_root }}
user={{ ansible_ssh_user }}
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/che.supervisor.stdout
stopsignal=QUIT
