tr.inactive {
  color: #9aa0ac;
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: line-through;
}

tr.inactive a {
  color: #9aa0ac;
}

.expand-button {
  display: none;
}


#daily-profit-chart {
  height: 15rem;
}

#notifications-sent-chart {
  height: 15rem;
}
