<div class="card">
  <div class="card-header">
    <h3 class="card-title">Daily profit for the month</h3>
  </div>
  <div id="daily-profit-chart"></div>
</div>
<script>
  require(['c3', 'd3', 'jquery'], function(c3, d3, $) {
    $(document).ready(function() {

      $.get('/charts/get_profit_month', function(jsonData) {
        var chart = c3.generate({
          bindto: '#daily-profit-chart', // id of chart wrapper
          data: {
            json: jsonData,
            keys: {
              x: 'date',
              value: ['value']
            },
            xFormat: '%d/%m/%y',
            type: 'area',
            colors: {
              'data1': tabler.colors['blue']
            },
            names: {
              'value': 'Profit, UAH'
            }
          },
          axis: {
            y: {
              center: 0,
              padding: {
                bottom: 0
              },
              show: true,
              // tick: {
              //   outer: false
              // }
            },
            x: {
              type: 'timeseries',
              tick: {
                fit: true,
                format: '%d/%m/%y'
              },
              padding: {
                left: 0,
                right: 0
              },
              show: true
            }
          },
          legend: {
            position: 'inset',
            padding: 0,
            inset: {
              anchor: 'top-left',
              x: 20,
              y: 8,
              step: 10
            }
          },
          tooltip: {
            grouped: false,
            format: {
              title: function (x) {
                return d3.time.format('%d/%m/%y')(x);
              },
              name: function (name, ratio, id, index) {
                return jsonData[index].value + ', UAH';
              },
              value: function (name, ratio, id, index) {
                return '';
              }
            }
          },
          padding: {
            bottom: 0,
            left: -1,
            right: -1
          },
          point: {
            show: false
          }
        });
      });
    });
  });
</script>
