<div class="card">
  <div class="card-header">
    <h3 class="card-title">Notifications made for the month</h3>
  </div>
  <div id="notifications-sent-chart"></div>
</div>
<script>
  require(['c3', 'jquery'], function(c3, $) {
    $(document).ready(function() {
      $.get('/charts/get_notifications_month', function(jsonData) {
        var chart = c3.generate({
          bindto: '#notifications-sent-chart',
          data: {
            json: jsonData,
            keys: {
              x: 'date',
              value: ['called', 'notified']
            },
            xFormat: '%d/%m/%y',
            names: {
              'called': 'Calls',
              'notified': 'Messages'
            }
          },
          axis: {
            y: {
              padding: {
                bottom: 0,
              },
              show: false,
              tick: {
                outer: false
              }
            },
            x: {
              type: 'timeseries',
              tick: {
                fit: true,
                format: '%d/%m/%y'
              },
              padding: {
                left: 0,
                right: 0
              },
              show: true
            }
          },
          legend: {
            position: 'inset',
            padding: 0,
            inset: {
              anchor: 'top-left',
              x: 20,
              y: 8,
              step: 10
            }
          },
          tooltip: {
            format: {
              title: function (x) {
                return '';
              }
            }
          },
          padding: {
            bottom: 0,
            left: -1,
            right: -1
          },
          point: {
            show: false
          }
        });
      });
    });
  });
</script>
