{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h1 class="page-title">
    Control panel
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <form class="card">
        <div class="card-body">
          <h3 class="card-title">Add new user</h3>
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <div class="form-group">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" placeholder="Username" value="michael23">
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="form-group">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="form-group">
                <label class="form-label">Password</label>
                <input type="text" class="form-control" placeholder="Company" value="Chet">
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-right">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>

      <form class="card">
        <div class="card-body">
          <h3 class="card-title">Add new resource</h3>
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <div class="form-group">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" placeholder="Last Name" value="Faker">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-label">URL</label>
                <input type="text" class="form-control" placeholder="Home Address" value="Melbourne, Australia">
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-right">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>

      <form class="card">
        <div class="card-body">
          <h3 class="card-title">Manage fund</h3>
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <div class="form-group">
                <label class="form-label">Amount</label>
                <input disabled type="text" class="form-control" placeholder="Company" value="0">
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-right">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
