{% extends "base.html" %}
{% import "helpers/_render_bids_table.html" as table %}

{% block title %}Dashboard{% endblock %}
{% block page_title %}Dashboard{% endblock %}

{% block content %}

{% include "components/index_metrics.html" %}

<div class="row">
  <div class="col-12">
    {% if stats.current_profit < 0 %}
      <div class="alert alert-icon alert-danger" role="alert">
        <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i>
        You have to close more OUT bids.
      </div>
    {% endif %}
  </div>
</div>

<div class="row row-cards">
  <div class="col-6">
    <div class="row">
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="text-right text-green">
              6%
              <i class="fe fe-chevron-up"></i>
            </div>
            <div class="h1 m-0">43</div>
            <div class="text-muted mb-4">New Tickets</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="text-right text-red">
              -3%
              <i class="fe fe-chevron-down"></i>
            </div>
            <div class="h1 m-0">17</div>
            <div class="text-muted mb-4">Closed Today</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Fund section-->
  <div class="col-12">
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body text-center">
            <div class="h5">Daily fund</div>
            <div class="display-4 font-weight-bold mb-4">
              {{ (stats.fund['UAH'] + stats.current_profit) | round(2) }}
            </div>
            <span class="tag tag-azure">UAH</span>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body text-center">
            <div class="h5">Daily fund</div>
            <div class="display-4 font-weight-bold mb-4">
              {{ stats.fund['USD'] | int }}
            </div>
            <span class="tag tag-pink">USD</span>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body text-center">
            <div class="h5">Fund</div>
            <div class="display-4 font-weight-bold mb-4">
              {{ stats.fund['UAH'] | int }}
            </div>
            <span class="tag tag-azure">UAH</span>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card">
          <div class="card-body text-center">
            <div class="h5">Fund</div>
            <div class="display-4 font-weight-bold mb-4">
              {{ stats.fund['USD'] | int }}
            </div>
            <span class="tag tag-pink">USD</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--In bids section-->
  <div class="col-12 bids-section">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card p-3">
          <div class="d-flex align-items-center">
                  <span class="stamp stamp-md bg-blue mr-3">
                    <i class="fe fe-chevrons-down"></i>
                  </span>
            <div>
              <h4 class="m-0"><a href="javascript:void(0)">In</a></h4>
              <small class="text-muted">{{ in_bids | length }} bids</small>
            </div>
          </div>
        </div>
      </div>
      {% include "components/bids_form.html" %}

      <div class="col-12">
        {{ table.render_bids_table("In bids", in_bids, in_info) }}
      </div>
    </div>
  </div>

  <!--Out bids section-->
  <div class="col-12 bids-section">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card p-3">
          <div class="d-flex align-items-center">
                    <span class="stamp stamp-md bg-green mr-3">
                      <i class="fe fe-chevrons-up"></i>
                    </span>
            <div>
              <h4 class="m-0"><a href="javascript:void(0)">Out</a></h4>
              <small class="text-muted">{{ out_bids | length }} bids</small>
            </div>
          </div>
        </div>
      </div>
      {% include "components/bids_form.html" %}

      <div class="col-12">
        {{ table.render_bids_table("Out bids", out_bids, out_info) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
require(['jquery'], function($) {
  $(function () {
    $('.collapse-button').click(function () {
      var section = $(this).closest('.bids-section');
      var table = section.find('.table-responsive');
      table.hide();
      $(this).hide();
      section.find('.expand-button').show();
    });

    $('.expand-button').click(function () {
      var section = $(this).closest('.bids-section');
      var table = section.find('.table-responsive');
      table.show();
      $(this).hide();
      section.find('.collapse-button').show();
    });
  });
});
</script>
{% endblock %}
