{% extends "base.html" %}
{% import "helpers/_render_bids_table.html" as table %}
{% block content %}
<div class="page-header">
  <h1 class="page-title">
    Dashboard
  </h1>
</div>

{% include "components/index_metrics.html" %}

<div class="row">
  <div class="col-12">
    {% if stats.current_profit < 0 %}
      <div class="alert alert-icon alert-danger" role="alert">
        <i class="fe fe-alert-triangle mr-2" aria-hidden="true"></i>
        You have to close more OUT bids.
      </div>
    {% endif %}
  </div>
</div>

<div class="row row-cards">
  <div class="col-md-6">
    <div class="row">
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="text-right text-green">
              6%
              <i class="fe fe-chevron-up"></i>
            </div>
            <div class="h1 m-0">43</div>
            <div class="text-muted mb-4">New Tickets</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="text-right text-red">
              -3%
              <i class="fe fe-chevron-down"></i>
            </div>
            <div class="h1 m-0">17</div>
            <div class="text-muted mb-4">Closed Today</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="text-right text-green">
              9%
              <i class="fe fe-chevron-up"></i>
            </div>
            <div class="h1 m-0">7</div>
            <div class="text-muted mb-4">New Replies</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-lg-3">
        <div class="card">
          <div class="card-body p-3 text-center">
            <div class="text-right text-green">
              3%
              <i class="fe fe-chevron-up"></i>
            </div>
            <div class="h1 m-0">27.3K</div>
            <div class="text-muted mb-4">Followers</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body text-center">
            <div class="h5">Daily fund</div>
            <div class="display-4 font-weight-bold mb-4">652</div>
            <span class="tag tag-azure">UAH</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body text-center">
            <div class="h5">Fund</div>
            <div class="display-4 font-weight-bold mb-4">25678</div>
            <span class="tag tag-azure">UAH</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
                  <span class="stamp stamp-md bg-blue mr-3">
                    <i class="fe fe-chevrons-down"></i>
                  </span>
        <div>
          <h4 class="m-0"><a href="javascript:void(0)">In</a></h4>
          <small class="text-muted">{{ in_bids | length }} bids</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <form class="input-icon my-3 my-lg-0">
      <input type="search" class="form-control header-search" placeholder="Filter by phone number&hellip;" tabindex="1">
      <div class="input-icon-addon">
        <i class="fe fe-search"></i>
      </div>
    </form>
  </div>
  <div class="col-lg-3">
    <form>
      <button type="button" class="btn btn-outline-secondary"><i class="fe fe-minimize-2"></i>Collapse</button>
      <button type="button" class="btn btn-outline-secondary"><i class="fe fe-maximize-2 mr-2"></i>Show</button>
    </form>
  </div>

  <div class="col-12">
    {{ table.render_bids_table("In bids", in_bids) }}
  </div>

  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
                  <span class="stamp stamp-md bg-green mr-3">
                    <i class="fe fe-chevrons-up"></i>
                  </span>
        <div>
          <h4 class="m-0"><a href="javascript:void(0)">Out</a></h4>
          <small class="text-muted">{{ out_bids | length }} bids</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <form class="input-icon my-3 my-lg-0">
      <input type="search" class="form-control header-search" placeholder="Filter by phone number&hellip;" tabindex="1">
      <div class="input-icon-addon">
        <i class="fe fe-search"></i>
      </div>
    </form>
  </div>
  <div class="col-12">
    {{ table.render_bids_table("Out bids", out_bids) }}
  </div>
</div>
{% endblock %}
