{% extends "base.html" %}
{% block content %}
<div class="row row-cards row-deck">
  <div class="col-12">
    <div class="card">
      <div class="table-responsive">
        <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
          <thead>
          <tr>
            <!--<th class="text-center w-1"><i class="icon-people"></i></th>-->
            <th>Phone</th>
            <th>Added</th>
            <th>Reason</th>
            <th class="text-center"><i class="icon-settings"></i></th>
          </tr>
          </thead>
          <tbody>
            {% for phone in phones %}
              <tr>
                <td>{{ phone.phone }}</td>
                <td><span class="text-muted">{{ phone.created | format_datetime }}</span></td>
                <td>{{ phone.reason }}</td>

                <td class="text-center">
                  <div class="item-action dropdown">
                    <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-tag"></i> Waaat?</a>
                      <div class="dropdown-divider"></div>
                      <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fe fe-link"></i> Remove from blacklist</a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-12">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="card-value float-right text-blue">+5%</div>
            <h3 class="mb-1">423</h3>
            <div class="text-muted">Users online</div>
          </div>
          <div class="card-chart-bg">
            <div id="chart-bg-users-1" style="height: 100%"></div>
          </div>
        </div>
        <script>
          require(['c3', 'jquery'], function (c3, $) {
            $(document).ready(function() {
              var chart = c3.generate({
                bindto: '#chart-bg-users-1',
                padding: {
                  bottom: -10,
                  left: -1,
                  right: -1
                },
                data: {
                  names: {
                    data1: 'Users online'
                  },
                  columns: [
                    ['data1', 30, 40, 10, 40, 12, 22, 40]
                  ],
                  type: 'area'
                },
                legend: {
                  show: false
                },
                transition: {
                  duration: 0
                },
                point: {
                  show: false
                },
                tooltip: {
                  format: {
                    title: function (x) {
                      return '';
                    }
                  }
                },
                axis: {
                  y: {
                    padding: {
                      bottom: 0,
                    },
                    show: false,
                    tick: {
                      outer: false
                    }
                  },
                  x: {
                    padding: {
                      left: 0,
                      right: 0
                    },
                    show: false
                  }
                },
                color: {
                  pattern: ['#467fcf']
                }
              });
            });
          });
        </script>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="card-value float-right text-red">-3%</div>
            <h3 class="mb-1">423</h3>
            <div class="text-muted">Users online</div>
          </div>
          <div class="card-chart-bg">
            <div id="chart-bg-users-2" style="height: 100%"></div>
          </div>
        </div>
        <script>
          require(['c3', 'jquery'], function (c3, $) {
            $(document).ready(function() {
              var chart = c3.generate({
                bindto: '#chart-bg-users-2',
                padding: {
                  bottom: -10,
                  left: -1,
                  right: -1
                },
                data: {
                  names: {
                    data1: 'Users online'
                  },
                  columns: [
                    ['data1', 30, 40, 10, 40, 12, 22, 40]
                  ],
                  type: 'area'
                },
                legend: {
                  show: false
                },
                transition: {
                  duration: 0
                },
                point: {
                  show: false
                },
                tooltip: {
                  format: {
                    title: function (x) {
                      return '';
                    }
                  }
                },
                axis: {
                  y: {
                    padding: {
                      bottom: 0,
                    },
                    show: false,
                    tick: {
                      outer: false
                    }
                  },
                  x: {
                    padding: {
                      left: 0,
                      right: 0
                    },
                    show: false
                  }
                },
                color: {
                  pattern: ['#e74c3c']
                }
              });
            });
          });
        </script>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="card-value float-right text-green">-3%</div>
            <h3 class="mb-1">423</h3>
            <div class="text-muted">Users online</div>
          </div>
          <div class="card-chart-bg">
            <div id="chart-bg-users-3" style="height: 100%"></div>
          </div>
        </div>
        <script>
          require(['c3', 'jquery'], function (c3, $) {
            $(document).ready(function() {
              var chart = c3.generate({
                bindto: '#chart-bg-users-3',
                padding: {
                  bottom: -10,
                  left: -1,
                  right: -1
                },
                data: {
                  names: {
                    data1: 'Users online'
                  },
                  columns: [
                    ['data1', 30, 40, 10, 40, 12, 22, 40]
                  ],
                  type: 'area'
                },
                legend: {
                  show: false
                },
                transition: {
                  duration: 0
                },
                point: {
                  show: false
                },
                tooltip: {
                  format: {
                    title: function (x) {
                      return '';
                    }
                  }
                },
                axis: {
                  y: {
                    padding: {
                      bottom: 0,
                    },
                    show: false,
                    tick: {
                      outer: false
                    }
                  },
                  x: {
                    padding: {
                      left: 0,
                      right: 0
                    },
                    show: false
                  }
                },
                color: {
                  pattern: ['#5eba00']
                }
              });
            });
          });
        </script>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="card-value float-right text-yellow">9%</div>
            <h3 class="mb-1">423</h3>
            <div class="text-muted">Users online</div>
          </div>
          <div class="card-chart-bg">
            <div id="chart-bg-users-4" style="height: 100%"></div>
          </div>
        </div>
        <script>
          require(['c3', 'jquery'], function (c3, $) {
            $(document).ready(function() {
              var chart = c3.generate({
                bindto: '#chart-bg-users-4',
                padding: {
                  bottom: -10,
                  left: -1,
                  right: -1
                },
                data: {
                  names: {
                    data1: 'Users online'
                  },
                  columns: [
                    ['data1', 30, 40, 10, 40, 12, 22, 40]
                  ],
                  type: 'area'
                },
                legend: {
                  show: false
                },
                transition: {
                  duration: 0
                },
                point: {
                  show: false
                },
                tooltip: {
                  format: {
                    title: function (x) {
                      return '';
                    }
                  }
                },
                axis: {
                  y: {
                    padding: {
                      bottom: 0,
                    },
                    show: false,
                    tick: {
                      outer: false
                    }
                  },
                  x: {
                    padding: {
                      left: 0,
                      right: 0
                    },
                    show: false
                  }
                },
                color: {
                  pattern: ['#f1c40f']
                }
              });
            });
          });
        </script>
      </div>
    </div>
  </div>

</div>
{% endblock %}
