{% extends "base.html" %}

{% block title %}Rates archive{% endblock %}
{% block page_title %}Rates{% endblock %}

{% block content %}
<div class="row row-cards row-deck">
  <div class="col-8">
    <form class="card" method="post" action="/rate/add">
      <div class="card-body">
        <h3 class="card-title">Add rate record</h3>
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="form-group">
              <label class="form-label">Rate buy</label>
              <input type="number" name="rate_buy" class="form-control" value="25.3412" step="0.0001" required>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="form-group">
              <label class="form-label">Rate sale</label>
              <input type="number" name="rate_sale" class="form-control" value="26.6" step="0.0001" required>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="form-group">
              <label class="form-label">Bank name</label>
              <input type="text" name="bank" class="form-control" placeholder="monobank" required>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-right">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="table-responsive">
        <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
          <thead>
          <tr>
            <!--<th class="text-center w-1"><i class="icon-people"></i></th>-->
            <th>Date</th>
            <th>Bank</th>
            <th>Buy</th>
            <th>Sale</th>
            <th class="text-center"><i class="icon-settings"></i></th>
          </tr>
          </thead>
          <tbody>
            {% for rate in rates %}
              <tr>
                <td>{{ rate.date | format_date }}</td>
                <td><span class="text-muted">{{ rate.bank }}</span></td>
                <td>{{ rate.rate_buy }}</td>
                <td>{{ rate.rate_sale }}</td>

                <td class="text-center">
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
