{% extends "base.html" %}
{% block content %}
<div class="page-header">
  <h1 class="page-title">
    Resources
  </h1>
</div>
<div class="row row-cards">
  <div class="col-lg-3">
    <div class="row">
      <div class="col-md-6 col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="mb-4 text-center">
              <img src="" alt="logo" class="img-fluid">
            </div>
            <h4 class="card-title">
              <a href="javascript:void(0)">{{ resource.name }}</a>
            </h4>
            <div class="card-subtitle">
              #{{ resource.id }}
            </div>
            <div class="mt-5 d-flex align-items-center">
              <div class="ml-auto">
                <a href="javascript:void(0)" class="btn btn-primary">{{ resource.url }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9">
    <div class="card">
      <table class="table card-table table-vcenter">
        <tr>
          <td><img src="demo/products/apple-iphone7-special.jpg" alt="" class="h-8"></td>
          <td>
            Apple iPhone 7 Plus 256GB Red Special Edition
          </td>
          <td class="text-right text-muted d-none d-md-table-cell text-nowrap">98 reviews</td>
          <td class="text-right text-muted d-none d-md-table-cell text-nowrap">38 offers</td>
          <td class="text-right">
            <strong>$499</strong>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock %}
