{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-12">
    <form action="/save_config" method="post" class="card">
      <div class="card-header">
        <h3 class="card-title">Settings</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="form-group">
              <label class="form-label">Minimal bid amount</label>
              <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">MIN_BID_AMOUNT</span>
              </span>
                <input type="text" value="{{ config.MIN_BID_AMOUNT | int }}" class="form-control" name="MIN_BID_AMOUNT">
              </div>
            </div>

            <div class="form-group">
              <label class="form-label">Maximal bid amount</label>
              <div class="input-group">
              <span class="input-group-prepend">
                <span class="input-group-text">MAX_BID_AMOUNT</span>
              </span>
                <input type="text" value="{{ config.MAX_BID_AMOUNT | int }}" class="form-control" name="MAX_BID_AMOUNT">
              </div>
            </div>

            <div class="form-group">
              <div class="form-label">Close all bids in a test mode</div>
              <label class="custom-switch">
                <input type="checkbox" checked name="DRY_RUN" class="custom-switch-input">
                <span class="custom-switch-indicator"></span>
                <span class="custom-switch-description">DRY_RUN</span>
              </label>
            </div>

            <div class="form-group">
              <label class="form-label">Expected closed bids factor</label>
              <div class="input-group">
                <span class="input-group-prepend">
                  <span class="input-group-text">CLOSED_BIDS_FACTOR</span>
                </span>
                <input type="text" value="{{ config.CLOSED_BIDS_FACTOR }}" class="form-control" name="CLOSED_BIDS_FACTOR">
              </div>
            </div>

            <div class="form-group">
              <label class="form-label">Begin processing bids starting this time</label>
              <div class="input-group">
                <span class="input-group-prepend">
                  <span class="input-group-text">TIME_DAY_STARTS</span>
                </span>
                <input type="text" value="{{ config.TIME_DAY_STARTS }}" name="TIME_DAY_STARTS" class="form-control"
                       data-mask="00:00" data-mask-clearifnotmatch="true"
                       placeholder="00:00" />
              </div>
            </div>

            <div class="form-group">
              <label class="form-label">No more activity after this time</label>
              <div class="input-group">
                <span class="input-group-prepend">
                  <span class="input-group-text">TIME_DAY_ENDS</span>
                </span>
                <input type="text" value="{{ config.TIME_DAY_ENDS }}" name="TIME_DAY_ENDS" class="form-control"
                       data-mask="00:00" data-mask-clearifnotmatch="true"
                       placeholder="00:00" />
              </div>
            </div>

            <div class="form-group">
              <label class="form-label">Time between fetching new data</label>
              <div class="input-group">
                <span class="input-group-prepend">
                  <span class="input-group-text">REFRESH_PERIOD_MINUTES</span>
                </span>
                <input type="text" value="{{ config.REFRESH_PERIOD_MINUTES }}" class="form-control" name="REFRESH_PERIOD_MINUTES">
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-8">
            <div class="table-responsive">
              <table class="table card-table table-striped table-vcenter">
                <thead>
                <tr>
                  <th colspan="2">User</th>
                  <th>Commit</th>
                  <th>Date</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="w-1"><span class="avatar" style="background-image: url(/static/demo/faces/male/9.jpg)"></span></td>
                  <td>Ronald Bradley</td>
                  <td>Initial commit</td>
                  <td class="text-nowrap">May 6, 2018</td>
                  <td class="w-1"><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
                </tr>
                <tr>
                  <td><span class="avatar">BM</span></td>
                  <td>Russell Gibson</td>
                  <td>Main structure</td>
                  <td class="text-nowrap">April 22, 2018</td>
                  <td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
                </tr>
                <tr>
                  <td><span class="avatar" style="background-image: url(/static/demo/faces/female/1.jpg)"></span></td>
                  <td>Beverly Armstrong</td>
                  <td>Left sidebar adjustments</td>
                  <td class="text-nowrap">April 15, 2018</td>
                  <td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
                </tr>
                <tr>
                  <td><span class="avatar" style="background-image: url(/static/demo/faces/male/4.jpg)"></span></td>
                  <td>Bobby Knight</td>
                  <td>Topbar dropdown style</td>
                  <td class="text-nowrap">April 8, 2018</td>
                  <td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
                </tr>
                <tr>
                  <td><span class="avatar" style="background-image: url(/static/demo/faces/female/11.jpg)"></span></td>
                  <td>Sharon Wells</td>
                  <td>Fixes #625</td>
                  <td class="text-nowrap">April 9, 2018</td>
                  <td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

      <div class="card-footer text-right">
        <div class="d-flex">
          <a href="javascript:void(0)" class="btn btn-link">Reset</a>
          <button type="submit" class="btn btn-primary ml-auto">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
