<div class="col-lg-3">
  <form class="input-icon my-3 my-lg-0">
    <input type="search" class="form-control header-search" placeholder="Filter by phone number&hellip;" tabindex="1">
    <div class="input-icon-addon">
      <i class="fe fe-search"></i>
    </div>
  </form>
</div>
<div class="col-lg-3">
  <form>
    <button type="button" class="btn btn-outline-secondary collapse-button"><i class="fe fe-minimize-2"></i>Collapse</button>
    <button type="button" class="btn btn-outline-secondary expand-button"><i class="fe fe-maximize-2 mr-2"></i>Show</button>
  </form>
</div>
